.w3-container,
.w3-panel{
    max-width:1060px;
    margin: 4px auto;
}

.tower{
    max-width:100%;
    height: auto;
    margin: 5px auto;
}

h5{
    font-style:italic;
}
.w3-card-8{
   display:inline-block;
   margin: 1.5%;
    vertical-align: top;
}